*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:all ease-in-out 0.3s;
    font-family: 'Prosto One', cursive;
    }  
body{
    width: 95%;
    height:100vh;
    margin: auto;
}

.header {
    width: 100%;
    height:100px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    padding-left: 30px;
    padding-right: 20px;
}

span{
    color: rgb(242, 143, 242);
}
a{
    text-decoration: none;
    font-size: 15px;
    margin: 15px;
    color:azure;
    padding: 5px;
}

a:hover{
    color:black;
    background-color:pink;
    text-decoration: underline; 
}

/* home start */
.section{
    width: 100%;
    height: 400px;
    background-image:url(../showcase.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
color: azure;
text-align: center;
padding: 15px;
font-size:50px;
}
h2+p{
    color:aliceblue
}
.div1{
    background-color: grey;
    color: azure;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    font-size:20px;    
}
input{
    padding: 7px;
    border-radius: 10px;
    border: none;
}
input :active{
color: red;
border: none;

}

button{
    background-color: rgb(226, 58, 69);
    padding: 7px;
    border-radius: 10px;
    border: none;
    color: blanchedalmond;
    cursor: pointer;
}
.paths{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    text-align: center;   
    gap: 20px;
}
div img{
    width: 100px;
}
h4{
    padding:20px;
}
/* home finished */
footer{
    width:100%;
    height: 90px;
   background-color:grey ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   
}
footer img{
    height:45px;
    
}
footer p{
    font-size: 12px;
    padding: 5px; 
    color: white;
   
}
.sec{
    display: flex;
    background-color: rgb(239, 225, 231);
    height:500px;
}
.div2{
    margin: 20px;
}
h6{
    margin-left: 20px;
    padding-left:20px ;
}
.p1{
    margin: 20px;
    font-size:17px;

}
.p2{
    background-color:rgb(191, 165, 179);
   
    margin:15px ;
    padding: 10px;
    font-size:17px;
    
}


.div3{
    background-color: rgb(191, 165, 179);
  
    margin: 57px;
    padding: 10px;
    height: fit-content;

  
}
div3 , p {
    font-size:17px;
}

/* <!-- services Start --> */
.sec2{
    display: flex;
    background-color: rgb(226, 215, 221);
    
}
.div4{
   background-color:rgb(203, 186, 196);
   margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
   padding: 20px;
   
}
.div5{
    background-color: rgb(203, 186, 196);
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
   
}
.div6{
    background-color:rgb(203, 186, 196);
    ;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 20px;
    

}
.div7{
    margin: 30px;
    padding: 20px;
    background-color: grey;
    height: fit-content;
    text-align: left;
    color: aliceblue;
    
}
.div7 button{
    margin-top: 10px;
    cursor: pointer;
}
.div7 input{
    width: 500px; 
    border-radius: 0%;
}
h4{
    padding-left: 50px;
}
h5{
    padding: 5px;
}



